.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #35d08a;
  padding: 1rem;
  border-radius: 0.5rem;
  min-width: 20rem;
}

.closeButtonContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.closeButton {
  background: none;
  font-size: 1.5rem;
  color: #000000;
}

.closeButton:hover {
  background: none;
  color: #444444;
}

.content {
  padding: 1.3rem 0 1.5rem 0;
  font-size: 1.4rem;
  font-weight: 600;
}

.actionButton {
  width: 100%;
}
