.player {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1.5rem;
  max-width: 10rem;
}

.readonlyPlayerName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
