.squareContainer {
  background-color: #eab4b4;
  aspect-ratio: 1 / 1;
  width: 8rem;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  border: 2px solid black;
  cursor: pointer;

  img {
    height: 70%;
  }
}

.disabled {
  cursor: not-allowed;
}
