.header {
    margin-top: 5rem;
}

.appContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d5ded9;
}

.gameContainerStyles {
    display: flex;
    flex-direction: column;
    min-width: 35rem;
    width: 45%;
    margin-top: 5rem;
    padding: 1rem 3rem 3rem 3rem;
    border-radius: 0.5rem;
    background-color: #33a471;
}

.playersContainer  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    margin-bottom: 1rem;
}

button {
    border: none;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    background: #e1cf7c;
    border-radius: 0.25rem;
}

button:hover {
    background: #ceb72e;
}


input {
    border: none;
    outline: none;
    padding: 0.2rem 0.5rem;
    max-width: 8rem;
    font-size: 1.2rem;
}
