.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #d5ded9;
}

.header {
  margin: 3rem 0;
}

.gameContainerStyles {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border-radius: 0.5rem;
  background-color: #33a471;
}
